.todo_list {
    text-align: center;
    border-radius: 6px;
    background-color: whitesmoke;
    width: 60%;
    left: 20%;
    right: 20%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.todo_list .bttn {
    background-color: #C5CACB;
    color: #929696;
    margin-right: 5px;
}

.todo_list .bttn:hover {
    background-color: #C61162;
    color: white;
}

.update-bttn .bttn {
    background-color: #C5CACB;
    color: #929696;
    float: right;
}

.update-bttn .bttn:hover {
    background-color: #C61162;
    color: white;
}

.update-todo {
    width: 85%;
    height: 30%;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-bottom: solid gray;
    font-size: 20px;
}

.bttn-div {
    display: flex;
    justify-content: space-around;
}

.todo-text {
   text-transform: uppercase;
    text-emphasis: bold;
    font-size: large;
}

@keyframes title {
  from { color: #C61162;}
  to { color: #3452ff;}
}

h2 {
    letter-spacing: 6px;
    font-size: 30px;
    text-align: end;
    margin-top: 0;
    animation-name: title;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}